TP_Dss/EXAMEN_DSS_2023/examen_dss_2023_dtd.dtd

<!ELEMENT enseignement (module+)>
<!ELEMENT module (#PCDATA|chapitres)*>
<!ELEMENT chapitres (chapitre+, enseignant+, etudiant+)>
<!ELEMENT chapitre EMPTY>
<!ELEMENT enseignant (nom)>
<!ELEMENT etudiant (nom, note)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ATTLIST chapitre intitule CDATA #REQUIRED>
<!ATTLIST etudiant numero CDATA #IMPLIED>
