TP_Dss/TP3/intiro_G3A/intiro_G3A_dtd.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT catalogue (cinema,film)>
<!ELEMENT cinema (nom,adresse,seance)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT adresse (ville,lieu)>
<!ELEMENT ville (#PCDATA)>
<!ELEMENT lieu (#PCDATA)>
<!ELEMENT seance EMPTY>
<!ATTLIST seance heure CDATA #REQUIRED
ref_film CDATA #REQUIRED>
<!ELEMENT film (titre,annee)>
<!ATTLIST film film_id ID #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT annee (#PCDATA)>
